@media (min-width: 770px) {
    
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
    .cardCustom{
        width: 50%;
        height: 270px;
      }

      .img-custom{
        width: 350px;
        height: 100%;
        object-fit: cover;
      }
      
      .FormatImg{
        margin: auto;
        width: 20vw !important;
        height: 30vh !important;
       margin-top:5vh ;
      }

}


/* @media (min-width:1025px) and (max-width:1200px){
  .colonnaDaSpostare{
   
    padding-right: 100px;
   }
} */

@media (min-width:481px) and (max-width:769px){
    .cardCustom{
        width: 60vh;
      }

      .img-custom{
        width: 350px;
        height: 269px;
        object-fit: cover;
        margin-top: 2px;
      }

      .welcomeMobile{
        margin-left: 5px;
      }

      .FormatImg{
        margin: auto;
        width: 30vw !important;
        height: 20vh !important;
       margin-top:5vh ;
      }
}

@media only screen and (max-width: 480px) {


  
    
    .centerMod{
        justify-content: center;
    }
    
    .marginForMobile{
        margin-top: 70px;
    }
    
    .centerModPlus{
        margin-right: 50px;
    }
    .centerModPlus2{
      margin-right: 30px;
  }

    .img-custom{
        width: 93vw;
        height: 135px;
        object-fit: cover;
       margin-top:10vh ;
      }

      .CardMobileIndex{
       flex-direction: column;
      }

      .evenlyCust{
        justify-content: space-around;
        
      }

      .FormatImg{
        margin: auto;
        width: 60vw !important;
        height: 30vh !important;
       margin-top:5vh ;
      }

      .profileMod{
        margin-left: 5vw;
      }
     
}

.spaced{
    height: 30vh;
  }
  
  .spacedSm{
    height: 20vh;
  }