body{
    overflow-x: hidden;
    margin: 0;
   /*  src: url('/public/fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
    font-family: 'Ubuntu-BoldItalic'; */
}


/* @media phone (max-width:575px) {
    
} */

@media screen and (min-width: 576px) and (max-width: 767px) {
    
}

*{
    font-family: 'Ubuntu', sans-serif;
}

.robotoFont{
    font-family: 'Roboto Slab', serif;
}

li{
    list-style: none;
}
:root{
    --main-color:#333333;
    --second-color:#2CCC77;
    --third-color:#a90d5d;
    --textfirst-color:#f5f5f5;
}

/*  .nav_custom{
    background-color: #333333 !important;
    
}  */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #2CCC77, #d8363a, #dd3675, #b44593); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #060606, #333333, #5fcf8a, #2CCC77);
    }
    
    @media (min-width: 768px) {
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }


/* Motion */



.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(0);
    transition: all 3s;
  }
  
  .hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
  }
  .hidden-down {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 3s;
  }
  
  .hidden-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 3s;
  }

  .hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  



  .bg_forNav{
    background-color: var(--main-color);
    
    }
    
    
    .transizione{
      transition: 0.8s;
    }

.img-custom{
    width: 200px;
    height: 200px;
}

/* CARD */

.cardCustom{

    width: 35vw;

}

/* END CARD */


.textNav{
    color: whitesmoke !important;
}