body{
  overflow-x: hidden;
  margin: 0;
}

*{
  font-family: 'Ubuntu', sans-serif;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  
}

.robotoFont{
  font-family: 'Roboto Slab', serif;
}

:root{
  --main-color:#333333;
  --second-color:rgb(44, 204, 119);
  --third-color:#a90d5d;
  --textfirst-color:#f5f5f5;
  --color: #00A97F;
}

.txMain{
  color: var(--second-color);
}

.bgMain{
  background-color: var(--second-color);
}

.bgSec{
  background-color:  var(--main-color);
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, #2CCC77, #d8363a, #dd3675, #b44593); */
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgb(6, 6, 6) 2%, #333333fb 10%, #5fcf8a 24%, #2CCC77 100%); */
  background: rgb(2,153,116);
background: linear-gradient(304deg, rgb(51,204,102,0.9360994397759104) 31%, rgba(0,0,0,0.9052871148459384) 95%);
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.avatar-image {
  width: 200px; 
  height: 200px;
  border: 3px solid black;
  border-radius: 50%; 
  cursor: pointer;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

/* Motion */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(0);
  transition: all 3s;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}

.hidden-down {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 3s;
}

.hidden-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 3s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* NAVBAR */


.bg_forNav{
  background-color: var(--main-color);
}

.navbarColor{
 background-color: rgb(233, 234, 221);
}

.transizione{
  transition: 0.8s;
}



.linkCustom{
  position: relative;
}

.linkCustom:before{
  border-bottom: 2px solid black;
  transition: 0.5s ease-in-out, right 0.5s ease-in-out;
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 0;
}

.navbar .linkCustom:hover::before{
  width: 100%;
  /* border-bottom:rgb(235, 230, 230) !important ; */
}


/* END NAVBAR */

.img-custom{
  width: 200px;
  height: 200px;
}

/* CARD */

.cardCustom{
  width: 35vw;
}

/* END CARD */


.textNav {
  color: rgb(235, 230, 230) !important;
}

/* Bottone Del Form Contattaci */
.btn-contact {
 
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--second-color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 19px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--second-color);
}

.btn-contact::after, .btn-contact::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--second-color);
}

.btn-contact::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-contact:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-contact:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn-contact:hover {
  color: var(--color2);
}

.btn-contact:active {
  filter: brightness(.7);
  transform: scale(.98);
}



/* BOTTONE PER CARD */

.btn-contact2 {
 
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: var(--main-color);
  border-radius: 6px;
  border: .3px solid var(--second-color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 19px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--second-color);
}

.btn-contact2::after, .btn-contact2::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--second-color);
}

.btn-contact2::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-contact2:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-contact2:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn-contact2:hover {
  color: var(--color2);
}

.btn-contact2:active {
  filter: brightness(.7);
  transform: scale(.98);
}







/* BG HEADER */
.form_bg{
  background-image: linear-gradient(rgba(33, 37, 41, 0.559), rgba(33, 37, 41, 0.559)), url(/public/media/form_contattaci.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 6rem;
  z-index: 1;
}

.containerIndexCustom{
  background-image: linear-gradient(rgba(33, 37, 41, 0.559), rgba(33, 37, 41, 0.559)), url(/public/media/pexels-nataliya-vaitkevich-6214478.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 6rem;
  z-index: 1;
  
}

/* BUTTON CUSTOM */


.buttonCustom {
  
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 2px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  bottom: 10px;
 }
 
 .buttonCustom::before, .buttonCustom::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--second-color);
  transition: 1.4s ease;
 }
 
 .buttonCustom::before {
  top: -1em;
  left: -1em;
 }
 
 .buttonCustom::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .buttonCustom:hover::before, .buttonCustom:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .buttonCustom:hover {
  color: var(--third-color);
 }
 
 .buttonCustom:active {
  filter: brightness(.8);
  
 }
 

 /* FOOTER */

 .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/public/media/wave.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 3s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 6s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 4s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 4s linear infinite;
}


.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
.footer {
  position: relative;
  width: 100%;
  background:rgb(51,204,102);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.bg_homepage{
  background-image: linear-gradient(rgba(33, 37, 41, 0.559), rgba(33, 37, 41, 0.559)), url(/public/media/pexels-nataliya-vaitkevich-6214472.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 6rem;
  z-index: 1;

}

.spaced{
  height: 30vh;
}

.backWelcome2{
  background-image: linear-gradient(rgba(33, 37, 41, 0.559), rgba(33, 37, 41, 0.559)), url(/public/media/HomePage1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 6rem;
  z-index: 1;
}

/* REVISORE */

.revisione {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f1f1f1;
}

.btn_rev {
  padding: 10px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_rev:hover {
  background-color: #3e8e41;
}

.personal_icon{
  background-color: var(--second-color);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: solid 2px white;
}

.personal_icon img{
  width: 50px;
  margin-top: 8px;
}

.personal{
  background-color: rgb(229, 117, 12);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: solid 2px white;
}

.icon{
  background-color: rgb(16, 117, 194);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: solid 2px white;
}

.cardCust{
background-color: rgba(246, 246, 246, 0.742);
text-shadow: 3px 3px 8px rgb(96, 95, 95);
}

.cardCust img{
padding: 15px;
}